/* base */
/* sizing */
/* foreground */
/* background */
/* 'SourceSansProRegular', Arial, san-serifs */
/* scrollbars */
/* headers */
.base-header {
  color: #2c3342;
  font-family: 'SourceSansProRegular', Arial, san-serif;
  text-transform: uppercase;
  letter-spacing: 0.3px;
}
.lomithalef-btn {
  cursor: default;
  outline: none;
}
.lomithalef-btn,
.lomithalef-btn:focus,
.lomithalef-btn:hover {
  background: none;
  border: none;
}
.header-xl {
  color: #2c3342;
  font-family: 'SourceSansProRegular', Arial, san-serif;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  font-size:: 24px;
}
.header-l {
  color: #2c3342;
  font-family: 'SourceSansProRegular', Arial, san-serif;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  font-size:: 16px;
}
.header-m {
  color: #2c3342;
  font-family: 'SourceSansProRegular', Arial, san-serif;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  font-size:: 15px;
}
.header-s {
  color: #2c3342;
  font-family: 'SourceSansProRegular', Arial, san-serif;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  font-size:: 13px;
}
.header-mn {
  color: #2c3342;
  font-family: 'SourceSansProRegular', Arial, san-serif;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  font-size:: 14px;
}
/* text */
.base-txt {
  font-family: 'SourceSansProLight';
  color: #272a34;
}
.text-xl {
  font-family: 'SourceSansProLight';
  color: #272a34;
  font-size:: 16px;
}
.text-l {
  font-family: 'SourceSansProLight';
  color: #272a34;
  font-size:: 13px;
}
.text-m {
  font-family: 'SourceSansProLight';
  color: #272a34;
  font-size:: 12.5px;
}
.text-s {
  font-family: 'SourceSansProLight';
  color: #272a34;
  font-size:: 12px;
}
.text-xs {
  font-family: 'SourceSansProLight';
  color: #272a34;
  font-size:: 11px;
}
/* dom common */
body {
  font-family: 'SourceSansProLight';
  color: #272a34;
  font-size:: 12.5px;
  cursor: default;
}
/* behavior */
.no-user-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.user-select {
  -webkit-touch-callout: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
.flex_container {
  display: -moz-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -webkit-flexbox;
  display: flex;
  display: box;
  display: -ms-flexbox;
}
.wrap-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  word-wrap: normal;
  word-break: keep-all;
}
.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  word-wrap: normal;
  word-break: keep-all;
  white-space: nowrap;
}
.horizontal-center {
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -webkit-box-pack: center;
  -webkit-flexbox-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.horizontal-start {
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: start;
  -moz-box-pack: start;
  -webkit-box-pack: start;
  -webkit-flexbox-pack: start;
}
.horizontal-end {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -ms-flex-pack: end;
  -moz-box-pack: end;
  -webkit-box-pack: end;
  -webkit-flexbox-pack: end;
}
.horizontal-space-between {
  -ms-flex-pack: justify;
  -moz-box-pack: justify;
  -webkit-box-pack: justify;
  -webkit-flexsbox-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  box-pack: center;
}
.vertical-center {
  -webkit-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
}
.center {
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -webkit-box-pack: center;
  -webkit-flexbox-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
}
#prism-toolbar,
#prism-leftview,
#prism-rightview {
  background: #efefef;
}
.snap-drawer {
  background: #efefef;
  top: 40px;
}
.snap-drawer-left {
  width: 275px;
}
.snap-content {
  top: 40px;
}
#main-nav {
  float: right;
  margin-right: 16px;
  padding-top: 5px;
}
#main-nav a {
  text-decoration: none;
  margin-left: 8px;
  color: #dedede;
  cursor: pointer;
}
#main-nav a:hover {
  color: white;
}
/*#prism-header, #prism-toolbar, #prism-content, #prism-leftview, #prism-rightview, #prism-mainview {

    position: fixed;
	overflow-y:auto;
}*/
#prism-content,
#prism-mainview {
  background-color: white;
}
#prism-header,
#prism-toolbar {
  position: fixed;
  overflow-y: auto;
}
#prism-header {
  border-bottom: 1px #f2f2f2 solid;
  z-index: 3;
  background-color: #ffffff;
  height: 44px;
  top: 0px;
  left: 0px;
  width: 100%;
}
#prism-header #prism-logo {
  position: relative;
  top: 5px;
  margin: 0 auto;
  display: block;
  width: 114px;
  height: 34px;
  background-image: url('/resources/base/images/logo_sisense.png');
  background-repeat: no-repeat;
}
#prism-header .nav {
  background: center center no-repeat transparent;
  background-image: url('/resources/base/images/menu_mobile.png');
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 1px;
}
#prism-header .nav.right {
  right: 10px;
}
#prism-header .nav.left {
  left: 10px;
}
#prism-header .nav-filter-right {
  background: center center no-repeat transparent;
  background-image: url('/resources/base/images/nav-right.png');
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 2px;
  right: 10px;
}
#prism-header #nav-left {
  background: center center no-repeat transparent;
  background-image: url('/resources/base/images/menu_mobile.png');
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 10px;
}
#prism-header #nav-right {
  background: center center no-repeat transparent;
  background-image: url('/resources/base/images/menu_mobile.png');
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  left: auto;
  right: 10px;
}
#prism-toolbar a {
  background: center center no-repeat transparent;
  background-image: url('/resources/base/images/menu_mobile.png');
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 10px;
}
#prism-toolbar a.friends {
  background-image: url('/resources/base/images/menu_mobile.png');
}
#prism-toolbar a.right {
  left: auto;
  right: 10px;
}
#prism-window {
  /*width: 100%;
    height: 100%;*/
  /*display:block;*/
}
#prism-window #prism-header #prism-logo {
  /*display: block;
            width: 100px;
            height: 27px;
            background-image: url('/resources/base/images/logo.png');*/
}
#prism-window #prism-toolbar {
  /*background-color: gray;
        display:block;
        padding: 4px 8px;*/
}
#prism-window #prism-content {
  /*margin: 0 auto;
        display: block;
        position:relative;
        width: 100%;*/
}
#prism-window #prism-content #prism-leftview {
  /*background:green;
            display: inline-block;
            border: 0 transparent none;
            margin: 0;
            padding: 0;
            float: left;
            width: 150px;
            height: 100%;*/
}
#prism-window #prism-content #prism-rightview {
  /*background:red;
            border: 0 transparent none;
            display: inline-block;
            float: right;
            right:0px;
            top:0px;
                        margin: 0;
            padding: 0;
            width: 150px;
            height: 100%;*/
}
#prism-window #prism-content #prism-mainview {
  /*background:blue;*/
  /*width: 100%;
            border: 0 transparent none;
            display: inline-block;
            height: 100%;
            margin: 0;
            padding: 0;*/
}
#prism-toolbar a {
  background: center center no-repeat transparent;
  background-image: url('/resources/base/images/menu_mobile.png');
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 10px;
}
#prism-toolbar a.friends {
  background-image: url('/resources/base/images/menu_mobile.png');
}
#prism-toolbar a.right {
  left: auto;
  right: 10px;
}
/*
 *  TABLET LAYOUT
*/
.content.busy {
  background-image: url("/resources/vivid/images/widget-loader.gif");
  background-position: 50% 25%;
  background-repeat: no-repeat;
  z-index: 10000000;
}
.update-ball {
  right: 48px;
  top: 48px;
}
.update-ball:hover {
  right: 31px;
  top: 31px;
}
.dashboard-overlay {
  position: absolute;
  width: calc(100% - 16px);
  height: 100%;
  z-index: 100;
  background-color: white;
  opacity: 0.5;
}
.dashboard-layout {
  padding: 8px 0 0 8px;
  height: 100%;
  /*
	*  COLUMN
	*/
  /*
	*  CELL
	*/
  /*
	 *  SUB-CELL
	 */
}
.dashboard-layout.portrait {
  padding-right: 8px;
}
.dashboard-layout.busy {
  opacity: 0.1;
}
.dashboard-layout .dashboard-layout-column {
  position: relative;
  webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #ffffff;
  background-clip: content-box;
}
.dashboard-layout .dashboard-layout-column-host {
  background-clip: content-box;
  float: left;
  padding-bottom: 8px;
}
.dashboard-layout .dashboard-layout-cell {
  webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  clear: left;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 100%;
  height: auto;
  position: relative;
}
.dashboard-layout .dashboard-layout-subcell-host {
  float: left;
}
.dashboard-layout .dashboard-layout-subcell-vertical {
  webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: auto;
  display: inline-block;
  float: left;
  position: relative;
  background-clip: content-box;
  width: 100%;
}
.dashboard-layout .dashboard-layout-subcell-horizontal {
  width: 100%;
  height: auto;
  padding-top: 8px;
  background-clip: content-box;
}
.dashboard-layout .dashboard-layout-subcell-vertical-divider {
  position: absolute;
  width: 1px;
  top: 3%;
  bottom: 3%;
  background-color: #E6E6E6;
  z-index: 1;
}
.dashboard-layout .dashboard-layout-cell-horizontal-divider {
  bottom: 0px;
  position: absolute;
  height: 1px;
  left: 3%;
  right: 3%;
  background-color: #E6E6E6;
  z-index: 1;
}
.dashboard-layout widget.notitle widget-title {
  display: none !important;
}
.dashboard-layout widget.columnar {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* for not showing copy selection menu in ipad */
}
.dashboard-layout widget.columnar pivot td {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* for not showing copy selection menu in ipad */
}
.dashboard-layout widget.columnar widget-overlay {
  /*	z-index:1001;
			width:100%;
			height:75%*/
}
.wf-host .f-host .f-wrapper .f-header-host .f-menu {
  display: none;
}
#navout {
  position: absolute;
  height: 50px !important;
  width: 269px;
  border-left: 8px solid #f2f2f2 !important;
  border-right: 10px solid #f2f2f2;
  left: 0;
  border-top: 3px solid #f2f2f2;
  border-bottom: 3px solid #f2f2f2;
  overflow: hidden;
}
#navout .mi-icon {
  background: url('/resources/navver/images/navver-icons-24.png') no-repeat;
  background-position: 0px -168px;
  width: 24px;
  height: 24px;
  margin: 11px 0px 0px 5px !important;
  float: left;
}
#navout .mi-title {
  color: #2c3342;
  font-family: 'SourceSansProRegular', Arial, san-serif;
  text-transform: uppercase;
  font-size:: 20px;
  line-height: 20px;
  float: left;
  margin: 13px 0px 0px 7px !important;
}
.navver-host {
  padding: 8px 0px 8px 8px;
  width: 259px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.navver-host .navver-main-box {
  background: #ffffff;
  height: 100%;
}
.navver-host .navver-main-box .navver-main-item {
  height: 47px;
  border-bottom: 1px solid #f2f2f2;
  cursor: pointer;
  border-left: solid 3px transparent;
}
.navver-host .navver-main-box .navver-main-item.active {
  border-left: solid 3px #55d8c7;
  height: 47px;
  width: 100%;
}
.navver-host .navver-main-box .navver-main-item .mi-title {
  color: #2c3342;
  font-family: 'SourceSansProRegular', Arial, san-serif;
  text-transform: uppercase;
  font-size:: 20px;
  float: left;
  margin: 12px 0px 0px 7px;
}
.navver-host .navver-main-box .navver-main-item .mi-icon {
  background: url('/resources/navver/images/navver-icons-24.png') no-repeat;
  width: 24px;
  height: 24px;
  margin: 12px 0px 0px 5px;
  float: left;
}
.navver-host .navver-main-box .navver-main-item .mi-icon[mi-type='layout.shell.home'] {
  background-position: 0px -96px;
}
.navver-host .navver-main-box .navver-main-item .mi-icon[mi-type='layout.shell.recent'] {
  background-position: 0px -72px;
}
.navver-host .navver-main-box .navver-main-item .mi-icon[mi-type='layout.shell.starred'] {
  background-position: 0px -48px;
}
.navver-host .navver-main-box .navver-main-item .mi-icon[mi-type=my-dashboards] {
  background-position: 0px -24px;
}
.navver-host .navver-main-box .navver-main-item .mi-icon[mi-type=log-out] {
  background-position: 0px -168px;
}
.navver-host .navver-main-box .panelsSliderPane {
  background: none;
  position: absolute;
  /*width: 6px;*/
  width: 10px;
  right: 0;
  top: 0;
  bottom: 0;
  visibility: hidden\9;
  /* Target only IE7 and IE8 with this hack */
  opacity: .01;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}
.navver-host .navver-main-box .panelsSliderPane > .panelsSlider {
  background: #c8c8c8;
  position: relative;
  margin: 0 1px;
}
.navver-host .navver-main-box .panelsSliderPane > .panelsSlider:hover,
.navver-host .navver-main-box .panelsSliderPane > .panelsSlider:active {
  background: #56535b;
  opacity: 1.0;
}
.navver-host .navver-main-box .nano:hover > .panelsSliderPane,
.navver-host .navver-main-box .panelsSliderPane.active,
.navver-host .navver-main-box .panelsSliderPane.flashed {
  visibility: visible\9;
  /* Target only IE7 and IE8 with this hack */
  opacity: 0.99;
}
.navver-host .navver-main-box .tags-container .loading-holder {
  margin: 30px 0px 0px 85px;
  font-family: 'SourceSansProLight';
  color: #272a34;
  font-size:: 18px;
}
.navver-host .navver-main-box .tags-container .tags-inner-container .list-item-holder {
  border: solid 1px transparent;
  clear: both;
}
.navver-host .navver-main-box .tags-container .tags-inner-container .list-item-holder .sub-dashboards-holder {
  /* for indenting the sub dashboards */
  margin-left: 11px;
}
.navver-host .navver-main-box .tags-container .tags-inner-container .list-item-holder .sub-dashboards-holder .list-item {
  margin-left: 11px;
}
.navver-host .navver-main-box .tags-container .tags-inner-container .list-item-holder .list-item {
  overflow: hidden;
}
.navver-host .navver-main-box .tags-container .tags-inner-container .list-item-holder .list-item.dashboard-item {
  cursor: pointer;
}
.navver-host .navver-main-box .tags-container .tags-inner-container .list-item-holder .list-item.selected:not(.ui-draggable-dragging) {
  border: 1px solid #2A867A;
  background: #55d8c7;
  border-radius: 5px;
}
.navver-host .navver-main-box .tags-container .tags-inner-container .list-item-holder .list-item.selected:not(.ui-draggable-dragging) .title-holder .li-title {
  color: #272a34;
}
.navver-host .navver-main-box .tags-container .tags-inner-container .list-item-holder .list-item.selected:not(.ui-draggable-dragging) .icon-holder[li-type=folder] .li-icon {
  background-position: 0px 0px;
}
.navver-host .navver-main-box .tags-container .tags-inner-container .list-item-holder .list-item.selected:not(.ui-draggable-dragging) .icon-holder[li-type=dashboard] .li-icon {
  background-position: -20px -3px;
}
.navver-host .navver-main-box .tags-container .tags-inner-container .list-item-holder .list-item .icon-holder {
  float: left;
  margin: 18px 0px 0px 13px;
  display: inline-block;
}
.navver-host .navver-main-box .tags-container .tags-inner-container .list-item-holder .list-item .icon-holder[li-type=folder] .li-icon {
  background: url('/resources/navver/images/folder-10.png') no-repeat;
  width: 10px;
  height: 10px;
  background-position: 0px 0px;
}
.navver-host .navver-main-box .tags-container .tags-inner-container .list-item-holder .list-item .icon-holder[li-type=dashboard] .li-icon {
  background: url('/resources/navver/images/dashboard_navigator-18.png') no-repeat;
  width: 11px;
  height: 11px;
  background-position: 0px -3px;
}
.navver-host .navver-main-box .tags-container .tags-inner-container .list-item-holder .list-item .title-holder {
  margin-top: 12px;
  margin-left: 14px;
  display: inline-block;
  padding-bottom: 11px;
  max-width: 100%;
}
.navver-host .navver-main-box .tags-container .tags-inner-container .list-item-holder .list-item .title-holder.title-holder-dashboard {
  width: 80%;
  /* fallback for old browsers */
  width: calc(100% - 40px);
}
.navver-host .navver-main-box .tags-container .tags-inner-container .list-item-holder .list-item .title-holder .li-title {
  font-family: 'SourceSansProLight';
  color: #56535b;
  font-size:: 18px;
  display: inline-block;
  max-width: 100%;
  word-wrap: normal;
  text-overflow: ellipsis;
  overflow-x: hidden;
}
.no-hover .uc-ms-list .list-item:hover {
  background-color: transparent;
}
/*inner container */
/*@inner-container-shadow-color : black;*/
/*header*/
/*body*/
/*content container*/
/*input box*/
/*send button*/
/*error*/
.acc-win {
  position: relative;
  width: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.acc-win .acc-outer {
  background: #f2f2f2;
  padding-top: 58px;
  margin-left: 30px;
  margin-top: 30px;
  width: calc(100% - 60px);
  min-width: 536px;
  min-height: 596px;
}
.acc-win .acc-out-logo {
  margin-bottom: 42px;
  width: 204px;
  height: 60px;
  background: url('/resources/account/images/login_logo.png') 0 0 no-repeat;
  left: 50%;
  margin-left: -102px;
  position: relative;
}
.acc-win .acc-inner {
  position: relative;
  left: 50%;
  width: 455px;
  height: 370px;
  margin-left: -227.5px;
  border-radius: 6px;
  /*box-shadow: @inner-container-shadow-x-offset
		@inner-container-shadow-y-offset @inner-container-shadow-blur
		@inner-container-shadow-color;*/
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
  /* Safari and Chrome */
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
  /* Firefox */
  -ms-box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
  /* Internet Explorer */
  -o-box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
  /* Opera */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
  /* CSS3 */
  background: #ffffff;
}
.acc-win .acc-inner .acc-inner-h {
  margin-bottom: 52px;
}
.acc-win .acc-inner .acc-inner-h .acc-h-logo {
  margin-bottom: 22px;
  width: 163px;
  height: 74px;
  background: url('/resources/account/images/area_chart_colorful.png') 0 0 no-repeat;
  left: 50%;
  margin-left: -81px;
  position: relative;
}
.acc-win .acc-inner .acc-inner-h .acc-sent-logo {
  margin-top: 40px;
  width: 149px;
  height: 89px;
  background: url('/resources/account/images/envelope_colorful.png') 0 0 no-repeat;
  left: 50%;
  margin-left: -75px;
  position: relative;
}
.acc-win .acc-inner .acc-inner-h .acc-header {
  text-align: center;
  padding-top: 29px;
}
.acc-win .acc-inner .acc-inner-h .acc-h-title {
  font-family: 'SourceSansProRegular', Arial, san-serif;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  font-size:: 24px;
  color: #2c3342;
  margin-top: 13px;
  max-height: 31px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.acc-win .acc-inner .acc-inner-h .acc-h-subtitle {
  font-family: 'SourceSansProLight';
  color: #272a34;
  font-size:: 16px;
  color: #2c3342;
  margin-top: 6px;
  max-height: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.acc-win .acc-inner .acc-inner-h .acc-h-subtitle .account-recoverpass-uname {
  font-weight: bold;
}
.acc-win .acc-inner .acc-body {
  height: 235px;
}
.acc-win .acc-inner .acc-body .acc-content {
  height: 181px;
  margin-left: 28px;
  margin-right: 28px;
  margin-bottom: 28px;
}
.acc-win .acc-inner .acc-body .acc-content .acc-con-box {
  font-family: 'SourceSansProLight';
  color: #272a34;
  font-size:: 13px;
  color: #2c3342;
  height: 100%;
  width: 375px;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  position: relative;
  min-height: 138px;
}
.acc-win .acc-inner .acc-body .acc-content .acc-con-box form {
  font-family: inherit;
  color: inherit;
}
.acc-win .acc-inner .acc-body .acc-content .acc-con-box .cbox-pane-row {
  cursor: pointer;
  height: 23px;
  background: #ffffff;
  position: absolute;
  bottom: 30px;
}
.acc-win .acc-inner .acc-body .acc-content .acc-con-box .cbox-pane-row .custom-cbox-btn {
  float: left;
  margin: 0px 0px 0px 0px;
}
.acc-win .acc-inner .acc-body .acc-content .acc-con-box .cbox-pane-row .pane-separator {
  float: left;
  background: #f2f2f2;
  width: 1px;
  height: 50%;
  margin: 6px 0px 0px 4px;
}
.acc-win .acc-inner .acc-body .acc-content .acc-con-box .cbox-pane-row .pane-caption {
  float: left;
  margin: 1px 0px 0px 4px;
  font-family: 'SourceSansProLight';
  color: #272a34;
  font-size:: 12.5px;
  color: #2c3342;
}
.acc-win .acc-inner .acc-body .acc-content .acc-con-box .cbox-pane-row .generic-pane-selected .pane-caption {
  color: #272a34;
}
.acc-win .acc-inner .acc-body .acc-content .acc-con-box .cbox-pane-row.selected {
  outline: none;
}
.acc-win .acc-inner .acc-body .acc-content .acc-con-box .cbox-pane-row.selected .pane-caption {
  color: #272a34;
}
.acc-win .acc-inner .acc-body .acc-content .acc-con-box .cbox-pane-row:hover {
  /*background: @back-hover;*/
}
.acc-win .acc-inner .acc-body .acc-content .acc-con-box .cbox-pane-row:hover .pane-caption {
  color: #272a34;
}
.acc-win .acc-inner .acc-body .acc-content .acc-con-box .cbox-pane-row:focus {
  /*background: @back-hover;*/
  outline: none;
}
.acc-win .acc-inner .acc-body .acc-content .acc-con-box .cbox-pane-row:focus .pane-caption {
  color: #272a34;
}
.acc-win .acc-inner .acc-body .acc-content .acc-con-box .cbox-pane-row:hover:not(.selected) .custom-cbox-btn {
  background-position: 0px -16px;
}
.acc-win .acc-inner .acc-body .acc-content .acc-con-box .cbox-pane-row:focus:not(.selected) .custom-cbox-btn {
  outline: none;
  background-position: 0px -16px;
}
.acc-win .acc-inner .acc-body .acc-content .acc-con-box .custom-cbox-btn-hover-not-selected {
  background-position: 0px -16px;
}
.acc-win .acc-inner .acc-body .acc-content .acc-con-box .custom-cbox-btn {
  background: url('../resources/ux-controls/images/recent/checkbox-16.png') no-repeat;
  width: 16px;
  height: 16px;
  display: inline-block;
}
.acc-win .acc-inner .acc-body .acc-content .acc-con-box .custom-cbox-btn.selected {
  outline: none;
  background-position: 0px -32px;
}
.acc-win .acc-inner .acc-body .acc-content .acc-con-box .custom-cbox-btn:hover:not(.selected) {
  background-position: 0px -16px;
}
.acc-win .acc-inner .acc-body .acc-content .acc-con-box .custom-cbox-btn:focus:not(.selected) {
  outline: none;
  background-position: 0px -16px;
}
.acc-win .acc-inner .acc-body .acc-content .acc-con-box .bottom-message {
  position: absolute;
  bottom: 0px;
  left: 0px;
}
.acc-win .acc-inner .acc-body .acc-content .acc-con-box .bottom-message a {
  font-family: 'SourceSansProLight';
  color: #272a34;
  font-size:: 13px;
  color: #2c3342;
}
.acc-win .acc-inner .acc-body .acc-content .acc-con-box .bottom-message a:hover {
  color: #20888a;
}
.acc-win .acc-inner .acc-body .acc-content.sent {
  margin-top: 62px;
}
.acc-win .acc-inner .acc-body .acc-l-border {
  width: 14px;
  height: 181px;
  border-left: solid 1px;
  border-top: solid 1px;
  border-bottom: solid 1px;
  border-color: #b3b1b3;
  display: inline-block;
  vertical-align: middle;
}
.acc-win .acc-inner .acc-body .acc-r-border {
  width: 14px;
  height: 181px;
  border-right: solid 1px;
  border-top: solid 1px;
  border-bottom: solid 1px;
  border-color: #b3b1b3;
  display: inline-block;
  vertical-align: middle;
}
.acc-win .acc-inner .acc-body .acc-sent-u-mes {
  border-bottom: solid 1px;
  border-color: #b3b1b3;
  width: 375px;
  font-family: 'SourceSansProLight';
  color: #272a34;
  font-size:: 16px;
  text-align: center;
  padding-bottom: 35px;
}
.acc-win .acc-inner .acc-body .acc-sent-u-mes .acc-sent-uname {
  font-weight: bold;
}
.acc-win .acc-inner .acc-body .acc-sent-b-mes {
  text-transform: capitalize;
  width: 375px;
  font-family: 'SourceSansProLight';
  color: #272a34;
  font-size:: 13px;
  text-align: center;
  margin-top: 20px;
  overflow: hidden;
  max-height: 32px;
}
.acc-win .acc-inner .acc-body .acc-sent-b-mes a {
  font-family: 'SourceSansProLight';
  color: #272a34;
  font-size:: 13px;
  color: #20888a;
}
.acc-win .acc-inner .acc-body .acc-sent-b-mes a:hover {
  color: #2AAFB2;
}
.acc-win .acc-inner .acc-body .input-box {
  border-bottom: solid 1px;
  border-color: #b3b1b3;
  width: 375px;
  margin-bottom: 22px;
  margin-top: 24px;
}
.acc-win .acc-inner .acc-body .input-box input:-webkit-autofill,
.acc-win .acc-inner .acc-body .input-box textarea:-webkit-autofill,
.acc-win .acc-inner .acc-body .input-box select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  -webkit-text-fill-color: #2c3342 !important;
}
.acc-win .acc-inner .acc-body .input-box input {
  min-height: 22px;
  font-family: inherit;
  color: #2c3342 !important;
  border: none;
  width: 375px;
  text-align: center;
}
.acc-win .acc-inner .acc-body .input-box input.empty {
  font-size:: 16px;
  color: #b3b1b3 !important;
}
.acc-win .acc-inner .acc-body .input-box input.empty:-moz-placeholder {
  color: #b3b1b3;
}
.acc-win .acc-inner .acc-body .input-box input.empty:-ms-input-placeholder {
  color: #b3b1b3;
}
.acc-win .acc-inner .acc-body .input-box input.empty::-webkit-input-placeholder {
  color: #b3b1b3;
}
.acc-win .acc-inner .acc-body .input-box input.empty:not(:focus) {
  font-family: 'SourceSansProLight';
  text-transform: capitalize;
  letter-spacing: 0.3px;
  font-size:: 16px;
}
.acc-win .acc-inner .acc-body .input-box input.empty:focus:-moz-placeholder,
.acc-win .acc-inner .acc-body .input-box input.empty:focus::-moz-placeholder {
  color: transparent !important;
}
.acc-win .acc-inner .acc-body .input-box input:not(.empty) {
  font-family: 'SourceSansProLight';
  font-size:: 16px;
}
.acc-win .acc-inner .acc-body .input-box input:focus:-moz-placeholder {
  color: transparent;
}
.acc-win .acc-inner .acc-body .input-box input:focus:-ms-input-placeholder {
  color: transparent;
}
.acc-win .acc-inner .acc-body .input-box input:focus::-webkit-input-placeholder {
  color: transparent;
}
.acc-win .acc-inner .acc-body .input-box input:hover,
.acc-win .acc-inner .acc-body .input-box input:focus {
  outline: none;
}
.acc-win .acc-inner .acc-body .acc-btn {
  color: #2c3342;
  font-family: 'SourceSansProRegular', Arial, san-serif;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  font-size:: 16px;
  height: 40px;
  width: 119px;
  float: right;
  cursor: pointer;
  border: none;
  outline: none;
  color: #ffffff;
  background: #6EDA55;
  position: absolute;
  right: 0px;
  bottom: 0px;
}
.acc-win .acc-inner .acc-body .acc-btn:hover,
.acc-win .acc-inner .acc-body .acc-btn:active,
.acc-win .acc-inner .acc-body .acc-btn:focus {
  background: #6EE555;
}
.acc-win .acc-inner .acc-body .acc-btn[disabled=disabled] {
  cursor: auto;
  background: #b3b2b3;
}
.acc-win .accerr {
  font-family: 'SourceSansProLight';
  color: #272a34;
  font-size:: 13px;
  color: #ffffff;
  border: none;
  height: 26px;
  padding-top: 4.5px;
  position: absolute;
  bottom: -30px;
  width: 100%;
  border-radius: 0 0 6px 6px;
  text-align: center;
  font-weight: bold;
}
.acc-win .accerr.error {
  color: #fb7570;
}
.acc-win .acc-copyright {
  max-height: 16px;
  overflow: hidden;
  text-align: center;
  margin-top: 29px;
}
